@import "tailwindcss";

:root {
  --primary-main: #224167;
  --secondary-main: #475d4f;
  --tertiary-main: #95261b;
  --text: #191003;
  --background: #e9e4dc;
  --background-light: #e9e4dc;
}

@theme inline {
  --color-primary-main: #224167;
  --color-secondary-main: #475d4f;
  --color-tertiary-main: #95261b;
  --color-text: #191003;
  --color-background: #e9e4dc;
  --color-background-light: #fbf6fe;
  --font-inria: "Inria Serif";
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background);
    --foreground: var(--text);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inria Serif", "Inter", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
