@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --verde: #246b5d;
  --branco-1: #e2e4d1;
  --vermelho: #ff4000;
  --preto: #272426;
  --branco-2: #fff9f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --verde: var(--verde);
  --branco-1: var(--branco-1);
  --vermelho: var(--vermelho);
  --preto: var(--vepretorde);
  --branco-2: var(--branco-2);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--branco-1);
    --foreground: var(--preto);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
